.searchbarContainer {
    background-color: #ece6f0;
    border-radius: 28px;
    justify-content: start;
    align-self: center;
    align-items: center;
    gap: 4px;
    width: 643px;
    min-width: 360px;
    max-width: 100%;
    min-height: 65px;
    margin-top: 56px;
    display: flex;
    overflow: hidden;
  }
  
  @media (width<=991px) {
    .searchbarContainer {
      margin-top: 40px;
    }
  }
  
  .stateLayer {
    flex-wrap: wrap;
    flex: 1;
    justify-content: start;
    align-items: center;
    gap: 4px;
    width: 100%;
    min-width: 240px;
    height: 100%;
    padding: 4px;
    display: flex;
  }
  
  @media (width<=991px) {
    .stateLayer {
      max-width: 100%;
    }
  }
  
  .leadingIcon {
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    width: 48px;
    min-height: 48px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }
  
  .iconContainer {
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 40px;
    display: flex;
    overflow: hidden;
  }
  
  .iconStateLayer {
    justify-content: center;
    align-self: stretch;
    align-items: center;
    gap: 10px;
    width: 40px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 8px;
    display: flex;
  }
  
  .searchIcon,
  .clearIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    align-self: stretch;
    width: 24px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .searchInput {
    line-height: 24px;
    color: #49454f;
    letter-spacing: 0.5px;
    flex: 1;
    align-self: center;
    gap: 10px;
    min-width: 240px;
    height: 100%;
    font-family:
      Figtree,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: transparent;
    border: none;
    outline: none;
  }
  
  @media (width<=991px) {
    .searchInput {
      max-width: 100%;
    }
  }
  
  .trailingElements {
    justify-content: end;
    align-self: stretch;
    align-items: center;
    width: 48px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }
  
  .trailingIcon {
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    width: 48px;
    min-height: 48px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }
  