.trailCard {
  background-color: #f9f9f9;
  border: 2px solid #5556;
  gap: 40px;
  padding: 30px;
  display: flex;
  box-shadow: 0 4px 4px #00000040;
}
@media (width<=991px) {
  .trailCard {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (width<=640px) {
  .trailCard {
    padding: 15px;
  }
}
.trailImage {
  object-fit: cover;
  border-radius: 10px;
  width: 362px;
  height: 278px;
}
@media (width<=991px) {
  .trailImage {
    width: 100%;
    max-width: 362px;
  }
}
.trailInfo {
  flex: 1;
}
@media (width<=991px) {
  .trailInfo {
    width: 100%;
  }
}
.trailHeader {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  display: flex;
}
.title {
  color: #000;
  font-family: Figtree, sans-serif;
  font-size: 36px;
  font-weight: 700;
}
@media (width<=640px) {
  .title {
    font-size: 28px;
  }
}

.navLink {
  color: inherit;
  text-decoration: none;
}

.subtitle {
  color: #000;
  font-family: Figtree, sans-serif;
  font-size: 20px;
}
@media (width<=640px) {
  .subtitle {
    font-size: 16px;
  }
}
.rating {
  color: #000;
  align-items: center;
  gap: 4px;
  font-family: Figtree, sans-serif;
  font-size: 32px;
  display: flex;
}
@media (width<=640px) {
  .rating {
    font-size: 24px;
  }
}
.trailDescription {
  color: #000;
  text-align: justify;
  margin-bottom: 20px;
  font-family: Figtree, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
@media (width<=640px) {
  .trailDescription {
    font-size: 14px;
  }
}
.trailDetails {
  color: #000;
  font-family: Figtree, sans-serif;
  font-size: 16px;
}
.detail {
  margin-bottom: 8px;
}
.label {
  font-weight: 700;
}