.navigation {
    color: #fff;
    text-align: center;
    background-color: #da5702;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 40px 59px;
    width: 100%;
    min-height: 165px;
    padding: 6px 36px 12px;
    font-family:
      Figtree,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    position: relative;
    box-shadow: 0 4px 4px #00000040;
  }
  
  .logo {
    aspect-ratio: 1.04;
    object-fit: contain;
    object-position: center;
    z-index: 0;
    flex-shrink: 0;
    align-self: stretch;
    width: 146px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .brand {
    z-index: 0;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: stretch;
    width: 286px;
    margin-top: auto;
    margin-bottom: auto;
    font-family:
      Reddit Sans,
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    font-size: 32px;
    font-weight: 500;
  }
  
  .navLinks {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navLink {
    color: inherit;
    text-decoration: none;
  }
  
  .authContainer {
    z-index: 0;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: start;
    width: 125px;
    font-size: 16px;
    position: absolute;
    top: 53px;
    right: 42px;
  }
  
  .loginButton {
    color: inherit;
    background-color: #000;
    border: none;
    border-radius: 1000px;
    width: 100%;
    min-height: 48px;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
  }
  
  @media (width <= 991px) {
    .navigation {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  